/* html,
body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* The top text scroll animation */
#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* page styling - WHY IS THE GRADIENT DUPLICATING??*/
body {
  /* background: linear-gradient(
    to bottom left,
    rgb(216, 208, 208),
    rgb(100, 100, 97)
  ); */
  background-color: rgb(134, 139, 139);
  /* background-repeat: no-repeat; */
}

.scroll-container .scroll-text {
  color: #a5a5af;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 100;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.9) 80%,
    rgba(255, 255, 255, 0.25) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.text {
  font-family: "Yanone Kaffeesatz";
  font-size: 100px;
  display: flex;
  position: fixed;
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
.text .wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.text .wrapper .letter {
  transition: ease-out 1s;
  transform: translateY(40%);
}
.text .wrapper .shadow {
  transform: scale(1, -1);
  color: rgb(80, 73, 73);
  transition: ease-in 5s, ease-out 5s;
}
.text .wrapper:hover .letter {
  transform: translateY(-100%);
}
.text .wrapper:hover .shadow {
  opacity: 0;
  transform: translateY(200%);
}

button {
  /* background-color: rgb(137, 139, 143); */
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.btnAdd:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btnAdd:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnAdd:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.btnGenerate:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.btnGenerate:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btnGenerate:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

form {
  position: absolute;
  top: 150px;
  left: 570px;
}

#sid {
  width: 200px;
  height: 20px;
}
#lis {
  width: 200px;
  height: 20px;
}

input {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: #fcfcfd;
  color: #000000;
}

.btnAdd {
  position: absolute;
  top: 7px;
  left: 400px;
}

.btnGenerate {
  position: absolute;
  top: 7px;
  left: 500px;
  width: 70px;
}

.notes {
  position: absolute;
  top: 300px;
  left: 550px;
  font-style: italic;
  font-size: x-large;
  color: #000000;
  text-align: center;
}
